/*! MIT License | © 2025 Mykhailo Voloshyn, WebFolks.io */

.wf-antispam-hp-wrap {
    position:absolute!important;
    left:-10000px!important;
    top:auto!important;
    width:1px!important;
    height:1px!important;
    overflow:hidden!important;
  }